
.content{
    overflow: hidden;
    width:100%;
    background-color: #f1f2ed;
    padding:0 40px;
}
.topDiv{
    width:1440px;
    height:65px;
    border-bottom: 1px dotted #dbdcd7;
    line-height: 65px;
    color:#d7d8d4;
}
.topDiv a{
    color:#589bc6;
    font-size: 16px;
    font-weight:900;
    padding-right: 20px;
}
.topDiv a:last-child{
    padding-left: 20px;
}
.topDiv a:hover{
    color:#d40005;
}
.content .middleDiv{
    padding-top: 20px;
    overflow: hidden;
}
/*.content .middleDiv .mLeft{*/
    /*float: left;*/
    /*width:740px;*/
    /*height:847px;*/
/*}*/
/*.content .middleDiv .mLeft .bigPic{*/
    /*width:740px;*/
    /*height:740px;*/
    /*background-color: white;*/
/*}*/
/*.content .middleDiv .mLeft .mLeftPig  img{*/
    /*width:86px;*/
    /*height:86px;*/
/*}*/
/*.content .middleDiv .mLeft .mLeftPig li{*/
    /*width:86px;*/
    /*height:86px;*/
    /*float: left;*/
    /*margin-right: 35px;*/
    /*margin-top: 17px;*/
    /*border-top: 1px solid transparent;*/
    /*border-right: 2px solid transparent;*/
    /*border-bottom: 1px solid transparent;*/
    /*border-left: 2px solid transparent;*/
    /*cursor: pointer;*/
/*}*/
/*.content .middleDiv .mLeft .mLeftPig li:hover{*/
    /*border-top: 1px solid #c8192e;*/
    /*border-right: 2px solid #c8192e;*/
    /*border-bottom: 1px solid #c8192e;*/
    /*border-left: 2px solid #c8192e;*/
/*}*/
.content .middleDiv .mRight{
    float: left;
    width:672px;
    height:553px;
    margin-left: 24px;
}
.content .middleDiv .mRight li:nth-child(1){
    width:672px;
    height:87px;
    border-bottom:2px dotted #dbdcd7;
}
.content .middleDiv .mRight li:nth-child(1) p:nth-child(1){
    font-size:24px;
    color:black;
    font-weight: 900;
}
.content .middleDiv .mRight li:nth-child(1) p:nth-child(2){
    padding-top:27px;
    font-size:18px;
    color:#c8192e;
    font-weight: 900;
}
.content .middleDiv .mRight li:nth-child(2){
    width:672px;
    height:135px;
    border-bottom:2px dotted #dbdcd7;
}
.content .middleDiv .mRight li:nth-child(2) p:nth-child(1){
    font-size:16px;
    color:black;
    font-weight: 900;
    padding: 19px 0 13px;
}
.content .middleDiv .mRight li:nth-child(2) p:nth-child(2) img{
    width:66px;
    height:66px;
    border: 1px solid #d7d8d4;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.content .middleDiv .mRight li:nth-child(2) p:nth-child(2) img:hover{
    border: 1px solid #c8192e;
}
.content .middleDiv .mRight li:nth-child(3){
    width:672px;
    height:96px;
    border-bottom:2px dotted #dbdcd7;
}
.content .middleDiv .mRight li:nth-child(3) p:nth-child(1){
    font-size:16px;
    color:black;
    font-weight: 900;
    padding-top:21px;
    padding-bottom: 18px;
}
.content .middleDiv .mRight li:nth-child(3) p:nth-child(2) a{
    padding:8px 10px;
    border:1px solid #d7d8d4;
    margin-right:10px;
    color:black;
    font-weight: 900;
}
.content .middleDiv .mRight li:nth-child(3) p:nth-child(2) a:hover{
    color:white;
    background-color: #c8192e;
}
.content .middleDiv .mRight li:nth-child(4){
    width:672px;
    height:69px;
    border-bottom:2px dotted #dbdcd7;
    color:black;
    font-size:16px;
    font-weight:900;
    line-height: 69px;
}
.content .middleDiv .mRight li:nth-child(4) span{
    color:#949898;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
}
.content .middleDiv .mRight li:nth-child(4) span:hover{
    color:#c9192e;
}
.content .middleDiv .mRight li:nth-child(4) input{
    width:50px;
    height:26px;
    border:1px solid #d7d8d4;
    margin:0 10px;
    background-color:#f1f2ed;
    text-align: center;
    font-weight: 900;
}
.content .middleDiv .mRight li:nth-child(5){
    width:672px;
    height:79px;
    border-bottom:2px dotted #dbdcd7;
    line-height: 79px;
}
.content .middleDiv .mRight li:nth-child(5) input:nth-child(1){
    width:170px;
    height:40px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 900;
    margin-right:10px;
    text-align: center;
    border:none;
    cursor: pointer;
}
.content .middleDiv .mRight li:nth-child(5) input:nth-child(2){
    width:170px;
    height:40px;
    background-color: #c9192e;
    color: white;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    border:none;
    cursor: pointer;
    margin-right: 25px;
}
.content .middleDiv .mRight li:nth-child(5) span{
    color:#589bc6;
    font-size: 16px;
    font-weight: 900;
}
.content .middleDiv .mRight li:nth-child(6){
    width:672px;
    height:80px;
    border-bottom:2px dotted #dbdcd7;

}
.content .middleDiv .mRight li:nth-child(6) img:nth-child(1){
    margin:20px 0;
    width:158px;
    height:41px;
    border-right:1px dotted #dbdcd7;
    display: inline-block;
}
.content .middleDiv .mRight li:nth-child(6) img:nth-child(2){
    margin:20px 0;
    width:209px;
    height:41px;
    display: inline-block;
}


.downDiv{
    width:800px;
    overflow: hidden;
    margin:110px auto 0;
    background-color: #f1f2ed;

}
.downDiv h3{
    font-size:19px;
    color:black;
    font-weight: 900;
    text-align: center;
    height:41px;
    line-height: 41px;
    border-bottom:1px dotted #d9dad5;
}
.downDiv ul{
    overflow: hidden;
}
.downDiv ul li {
    text-indent: 20px;
    float: left;
    margin-top: 37px;
    margin-right:150px;
}
.downDiv ul li h4 {
    font-size: 14px;
    line-height:24px;

}
.downDiv ul li h4 p {
    font-size: 14px;
    color:#666865;

}
.downDiv .chimaPic{
    display: block;
    margin:20px 20px 38px 20px;
}
.downDiv #goodsBigPic img{
    width:792px;
    height:4210px;
}

