
.content{
    width:1520px;
    margin:0 auto;
    background-color: #f1f2ed;
    overflow: hidden;

}
.content ul{
    height:86px;
    line-height: 86px;
}
.content .conUp{
    position: relative;
}
.content .conUp ul li:first-child{
     float: left;
    font-size: 16px;
    color:#64686b;
    padding-left: 70px;
    font-weight: 900;
 }
.content .conUp ul li:last-child{
    float: right;
    width:240px;
    height:46px;
    border:1px solid #d2d2d2;
    background-color:white;
    text-indent: 20px;
    line-height: 46px;
    margin-top:20px;
    margin-right:39px;
    color:#64686b;
    font-weight: 900;
    position: relative;
    cursor:pointer;

}
.content .conUp ul li:last-child img{
    position: absolute;
    right:13px;
    top:19px;
}
#selectedDiv{
    position:absolute;
    z-index: 2;
    right:39px;
    top:67px;
    border:1px solid #e4e4e4;
    border-top:none;
    background-color: white;
    display: none;
}
#selectedDiv a{
    display: block;
    color:red;
    text-indent: 20px;
    width:240px;
    height:45px;
    border-top:2px dotted #d2d2d2;
    line-height:45px;
    font-size:16px;
    font-weight: 900;
    color:#cccccc;
}
#selectedDiv a:hover{
    color:#c9192e;
}


.conDown{
    position: relative;
    padding-top:20px;
    overflow: hidden;
}
.conDown #selectGoods{
    float: left;
    width:450px;
    height:100%;
    background:white;
    margin-left:40px;
    margin-bottom: 40px;
    overflow: hidden;
}
.conDown #selectGoods li{
     width:408px;
     margin:0px 21px;
     border-bottom:1px dotted #d2d2d2;
     line-height:66px;
     color:black;
     font-weight: 900;
     font-size:18px;
    cursor:pointer;
}

.conDown #selectGoods li img{
    float: right;
    padding-top: 30px;
}
.conDown #selectGoods li div{
    width:408px;
    display: none;
}
.conDown #selectGoods li div a{
    display: inline-block;
    height:44px;
    line-height: 44px;
    text-align: center;
    color:#589bc6;
    border:1px solid #d2d2d2;
    font-weight: 900;
    font-size:14px;
    padding:0 16px;
    margin-right:11px;
}
.conDown #selectGoods li div a{
    display: inline-block;
    height:44px;
    line-height: 44px;
    text-align: center;
    color:#589bc6;
    border:1px solid #d2d2d2;
    font-weight: 900;
    font-size:14px;
    padding:0 16px;
    margin-right:11px;
}
.conDown #selectGoods li div a:hover{
    color:#c9192e;
}
.conDown #selectGoods li:first-child div{
    display: block;
}

#goodsList{
    float: left;
    width:970px;
    height:100%;
    margin-left:50px;
    overflow: hidden;
}
.conDown #goodsList li{
    margin-bottom: 49px;
    float: left;
    margin-right:20px;
}
.conDown #goodsList li a{
    display: block;
    color:#333333;
    text-align: center;
    font-size:15px;
    font-weight: 900;
    line-height:53px;
}
.conDown #goodsList li a:hover{
    color:#c9192e;
}
.conDown #goodsList li p{
    color:#333333;
    text-align: center;
    font-size:15px;
    font-weight: 900;
    line-height:53px;
}
